body {
  padding-top: 50px;
  position: relative;
  padding-bottom: 40px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#secondary{
    font-size:13px;
}

#primary{
    font-size:18px;
}